* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #edeeed; */
  /* background: linear-gradient(to right, #3ca55c, #b5ac49);
   */
   background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}
.drops {
  position: relative;
  justify-content: center;
  align-items: center;
}
.drop { position: absolute;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 25% 75% 39% 61% / 17% 34% 66% 83% ;
  box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
                    15px 25px 10px rgba(0,0,0,0.1),
                    15px 20px 20px rgba(0, 0, 0, 0.05),
                    inset -10px -10px 15px rgba(255, 255, 255, 0.9) ;
}
.drop::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 35px;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 55% 45% 67% 33% / 47% 44% 56% 53%;
}
.drop::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 65px;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 55% 45% 67% 33% / 47% 44% 56% 53%;
}

.drop:nth-child(2) {
  transform: scale(0.5) translate(-200px,180px);
  border-radius: 35% 65% 43% 57% / 47% 44% 56% 53%;
}
.drop:nth-child(3) {
  transform: scale(0.5) translate(280px,10px);
  border-radius: 68% 32% 43% 57% / 72% 44% 56% 28% ;
}
.drop:nth-child(4) {
  transform: scale(0.35) translate(120px,-350px);
  border-radius: 23% 77% 20% 80% / 43% 63% 37% 57%  ;
}